@import './index.scss';

.content__wrapper {
  position: relative;
  padding: 0 60px;
  width: 100%;
}

.about {
  .header {
    position: relative;
    display: block;
    text-align: center;

    h1 {
      font-size: 40px;
      margin: 10px 0;
    }
  }

  .social__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  
    a {
      color: #3498db;
      padding: 0 20px;
    }
  }
}

.vertical__line {
  border-right: 1px solid #999;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 49px;
  bottom: 20px;
}

.main__container {
  border-left: 5px solid #3f87a6;
  position: relative;
  margin: 20px auto;
  padding: 0 20px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  background: #eee;
  color: $dark-gray;

  code {
    font-size: 16px;
    margin: 0;
  }
  .span__text--blue {
    color: #07a;
  }
  .span__text--black {
    color: black;
  }
  .span__text--red {
    color: #DD4A68;
  }
  .span__text--green {
    color: #690;
  }

  a {
    text-decoration: none;
    color: #DD4A68;
    cursor: pointer;
  }

  ol {
    padding: 5px;
    counter-reset: item;
    list-style-type: none;
  }
  ol li {
    display: block;
    white-space: nowrap;
  }
  li:before {
    content: counter(item) "  ";
    counter-increment: item
  }
}

.tools {
  position: relative;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    padding: 5px 0;
  }

  h1 {
    margin: 5px;
    font-family: Helvetica;
    font-size: 1.3em;
  }

  span {
    padding: 5px;
  }

  .javascript {
    background: linear-gradient(to bottom right, #f0db4f, transparent);
  }
  .react {
    background: linear-gradient(to bottom right, #61dafb, transparent);
  }

  .redux {
    background: linear-gradient(to bottom right, #764abc, transparent);
  }

  .node {
    background: linear-gradient(to bottom right, #43853d, transparent);
  }

  .express {
    background: linear-gradient(to bottom right, #90c53f, transparent);
  }

  .html {
    background: linear-gradient(to bottom right, #f16529, transparent);
  }

  .css {
    background: linear-gradient(to bottom right, #0277bd, transparent);
  }

  .sass {
    background: linear-gradient(to bottom right, #cf649a, transparent);
  }

  .postgresql {
    background: linear-gradient(to bottom right, #336791, transparent);
  }

  .angular {
    background: linear-gradient(to bottom right, #df3b31, transparent);
  }
}

@media screen and (max-width: 480px) {
  .content__wrapper {
    padding: 0 30px;
  }

  .main__container {
    padding: 0 5px;

    code {
      font-size: 14px;
    }

    .vertical__line {
      left: 20px;
    }

    h3 {
      font-size: 1.3em;
    }

    h4, span {
      font-size: 14px;
    }

    ol {
      padding: 0;
    }
  }

  .tools {
    h1 {
      font-size: 1em;
    }
  }
}
