@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Roboto|Space+Mono");
*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', sans-serif; }

.content__wrapper {
  position: relative;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.about .header {
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.vertical__line {
  border-right: 1px solid #999;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 49px;
  bottom: 20px; }

.main__container {
  border-left: 5px solid #3f87a6;
  position: relative;
  margin: 20px;
  padding: 0 20px;
  overflow-x: auto;
  background: #eee;
  color: #696969; }
  .main__container h4 {
    display: inline-block;
    margin: 0; }
  .main__container .span__text--blue {
    color: #07a; }
  .main__container .span__text--black {
    color: black; }
  .main__container .span__text--red {
    color: #DD4A68; }
  .main__container .span__text--green {
    color: #690; }
  .main__container a {
    text-decoration: none;
    color: #DD4A68;
    cursor: pointer; }
  .main__container ol {
    padding: 5px;
    counter-reset: item;
    list-style-type: none; }
  .main__container ol li {
    display: block;
    white-space: nowrap; }
  .main__container li:before {
    content: counter(item) "  ";
    counter-increment: item; }

.sidebar {
  position: relative;
  width: 40%;
  color: black;
  padding: 20px; }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .sidebar h1 {
    padding: 0;
    margin: 5px;
    font-family: Helvetica;
    font-size: 2em; }
  .sidebar span {
    padding: 0 5px; }
  .sidebar .javascript {
    background: linear-gradient(to bottom right, #f0db4f, transparent); }
  .sidebar .react {
    background: linear-gradient(to bottom right, #61dafb, transparent); }
  .sidebar .redux {
    background: linear-gradient(to bottom right, #764abc, transparent); }
  .sidebar .node {
    background: linear-gradient(to bottom right, #43853d, transparent); }
  .sidebar .express {
    background: linear-gradient(to bottom right, #90c53f, transparent); }
  .sidebar .html {
    background: linear-gradient(to bottom right, #f16529, transparent); }
  .sidebar .css {
    background: linear-gradient(to bottom right, #0277bd, transparent); }
  .sidebar .sass {
    background: linear-gradient(to bottom right, #cf649a, transparent); }
  .sidebar .postgresql {
    background: linear-gradient(to bottom right, #336791, transparent); }

@media screen and (max-width: 480px) {
  .content__wrapper {
    padding: 0 30px;
    flex-direction: column;
    justify-content: flex-start; }
  .main__container {
    margin: 0 auto;
    width: 100%; }
    .main__container h3 {
      font-size: 1.5em; }
    .main__container ol {
      padding: 0; }
  .sidebar {
    padding: 0;
    width: 100%; }
    .sidebar h1 {
      font-size: 1.3em; } }
